body {
    margin: 0;
    padding: 0;
}

    body nav {
        padding-left: 20px;
    }

        body nav ul {
            width: 506px;
            height: 48px;
            background-image: url(../Images/menu-horizontal.png);
            list-style-type: none;
            border: 1px solid #cfcfcf;
            border-radius: 4px;
            padding: 0px;
        }

            body nav ul li {
                float: left;
                padding: 15px 18px 14px 18px;
                border-right: 1px solid #cfcfcf;
            }

                body nav ul li:last-child {
                    border-right: 0px;
                }

                body nav ul li a {
                    font: bold 16px Arial;
                    color: #a7162e;
                    text-decoration: none;
                }
